@charset "UTF-8";
/*отступы*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*перещет области*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*отключение обводки*/
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/*делаем блочными некоторые теги*/
nav, footer, header, aside {
  display: block;
}

/*Уравниваем поведение шрифтов и тд для разных браузеров (также запрещает самовольное увеличени шрифтов (айфон))*/
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*Говоорим тегам наследовать семейство шрифта*/
input, button, textarea {
  font-family: inherit;
  display: block;
}

/*еще куча фич, таких как отклчение крестиков и отступов в разных браузерах*/
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*Обнуляем все заголовки*/
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contant {
  padding: 0 20px;
  margin: 0 auto;
}

.container {
  border-radius: 10px;
  box-shadow: 0 0 10px 10px #f2f2f2;
}

hr {
  margin-top: 30px;
  height: 4px;
  background: #f2f2f2;
}

h1 {
  font-size: 26px;
  font-weight: 700;
  margin: 30px 0;
  text-align: center;
  width: 100%;
}

.main {
  flex: 1 1 auto;
}

.logo {
  color: #F20000;
  font-weight: 800;
  letter-spacing: -2px;
}

.open-space {
  flex: 1 1 auto;
}

.background-image {
  position: relative;
  background: url() 100%/cover no-repeat #f2f2f2;
}
.background-image:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  opacity: 0.8;
}

.btn-blue {
  transition: 0.3s;
  transition-property: background;
  color: #f2f2f2;
  background: rgb(8, 126, 185);
  padding: 7px;
  border-radius: 10px;
}
.btn-blue:hover {
  background: rgb(33, 148, 206);
}

.btn-orange {
  transition: 0.3s;
  transition-property: background;
  color: #f2f2f2;
  background: #ff6600;
  padding: 7px;
  border-radius: 10px;
}
.btn-orange:hover {
  background: rgba(255, 102, 0, 0.7882352941);
}

.link {
  background: no-repeat 0 100%;
  background-image: linear-gradient(#FFC107, #FFC107);
  font-size: 14px;
  line-height: 30px;
  background-position: 50% 30px;
  background-size: 0% 2px;
  transition: background-size 0.3s ease;
}
.link:hover {
  background-size: 100% 2px;
}
.link-active {
  font-weight: 700;
  background-image: linear-gradient(#F20000, #FFC107);
  background-size: 100% 2px;
}

.logo-slogan {
  position: absolute;
  bottom: 12px;
  font-size: 12px;
  line-height: 0;
}

@media (min-width: 750px) {
  hr {
    margin-top: 55px;
  }
  h1 {
    font-size: 28px;
  }
}
@media (min-width: 900px) {
  .contant {
    max-width: 1410px;
    padding: 0 20px;
    margin: 0 auto;
  }
  h1 {
    font-size: 40px;
    margin: 50px 0;
  }
  .logo {
    letter-spacing: -3px;
  }
  hr {
    margin-top: 70px;
  }
  .background-image:before {
    opacity: 0.7;
  }
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: #f2f2f2;
  border-bottom: 2px solid #ff6600;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.header__nav-link {
  padding: 10px 0;
  color: black;
}
.header__nav-logo {
  order: 1;
  position: relative;
  background-position: 50% 38px;
}
.header__nav-logo img {
  max-height: 25px;
}
.header__nav-logo p {
  bottom: 5px;
}
.header__nav-open-space {
  order: 1;
}
.header__nav-menu {
  order: 2;
}
.header__nav-button {
  order: 3;
}
.header__nav-burger {
  order: 3;
  margin-left: 15px;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  line-height: 306px;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #ff6600;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 900px) {
  .header__nav-button span {
    display: none;
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 10px;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ff6600;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 3em;
    margin-top: -1px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    text-align: center;
    width: 100%;
    background-color: #f2f2f2;
  }
  .menu > li .link {
    background-position-y: 100%;
  }
  .menu > li:last-child {
    padding-bottom: 5px;
  }
}
.main__title {
  margin-top: 20px;
  background: url("/images/802_original.png") no-repeat center center;
  display: grid;
  grid-template: 100px/calc(58% - 5px) calc(42% - 5px);
  gap: 10px;
  font-weight: 700;
  line-height: 30px;
}
.main__title-title {
  margin: auto;
  font-size: 30px;
  color: #fff;
}
.main__title-text {
  text-align: center;
  margin: auto;
  font-size: 20px;
}

.main__about-company {
  background: url("/images/top-view-person-writing-on-laptop-with-copy-space.jpg") 0/cover no-repeat #f2f2f2;
  border-radius: 10px;
  margin: 80px -15px 30px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
}
.main__about-company-title {
  z-index: 2;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 15px;
}
.main__about-company-text {
  z-index: 2;
  text-align: justify;
  font-size: 18px;
  line-height: 20px;
  grid-row: 2/3;
  grid-column: 2/3;
}
.main__about-company-text p {
  margin-bottom: 10px;
}
.main__about-company-attribution {
  z-index: 2;
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 10px;
  color: rgb(85, 85, 85);
}

@media (min-width: 750px) {
  .main__about-company {
    margin: 80px 0 60px;
    padding: 30px;
  }
  .main__about-company-title {
    font-size: 30px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .main__about-company-text {
    font-size: 22px;
    line-height: 24px;
  }
  .main__about-company-attribution {
    left: 30px;
    bottom: 15px;
  }
}
@media (min-width: 900px) {
  .main__about-company {
    display: grid;
    grid-template: auto 1fr/1fr 1fr;
    gap: 30px;
  }
  .main__about-company-title {
    font-size: 50px;
    line-height: 46px;
    margin-bottom: 30px;
  }
  .main__about-company-text {
    font-size: 26px;
    line-height: 30px;
  }
}
.main__calculator {
  padding: 20px;
  max-width: 1000px;
  margin: 0 -15px;
}
.main__calculator-title {
  font-size: 24px;
  line-height: 22px;
  font-weight: 700;
  color: #ff6600;
  margin-bottom: 10px;
}
.main__calculator-text {
  text-align: justify;
  font-size: 18px;
  line-height: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.main__calculator-button {
  display: block;
  margin-left: auto;
  text-transform: uppercase;
  font-size: 14px;
  padding: 7px;
}

@media (min-width: 750px) {
  .main__calculator {
    padding: 30px 30px 20px;
    margin: 0 auto;
  }
  .main__calculator-title {
    font-size: 26px;
  }
  .main__calculator-text {
    font-size: 22px;
    line-height: 26px;
  }
  .main__calculator-button {
    font-size: 16px;
    padding: 10px;
  }
}
.main__rates {
  max-width: 1100px;
  margin: 0 -15px;
}
.main__rate {
  overflow: hidden;
  margin: 25px 0;
  position: relative;
}
.main__rate ul {
  line-height: 1.5em;
  padding: 0;
}
.main__rate li {
  list-style: none;
  position: relative;
  padding-left: 20px;
}
.main__rate li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  height: 5px;
  width: 5px;
  border: 1px solid #FFC107;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg);
}
.main__rate-title {
  display: flex;
}
.main__rate-title-text {
  text-align: center;
  padding: 10px;
  width: 100%;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #373737;
  background: #FFC107;
  border-bottom-right-radius: 10px;
}
.main__rate-text {
  padding: 10px 20px;
  font-size: 16px;
  text-align: justify;
  line-height: 20px;
}
.main__rate-text p {
  margin-bottom: 5px;
}
.main__rate-price {
  padding: 0 0 20px 20px;
  max-width: calc(100% - 135px);
  line-height: 24px;
  font-size: 20px;
}
.main__rate-price span {
  color: #FFC107;
  font-weight: 700;
}
.main__rate-button {
  position: absolute;
  z-index: 1;
  right: 20px;
  bottom: 20px;
  height: 30px;
  padding: 7px;
}
.main__rate-button::after {
  content: "ПОДРОБНЕЕ";
  font-size: 14px;
}
.main__rate-more {
  overflow: hidden;
}
.main__rate-more h3 {
  font-weight: 600;
  color: rgb(85, 85, 85);
  margin: 5px 0;
}
.main__rate-more hr {
  margin: 20px 0;
  background: rgba(255, 102, 0, 0.7882352941);
}
.main__rate-more p {
  line-height: 16px;
  margin-bottom: 10px;
}
.main__rate-packages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main__rate-package {
  max-width: 250px;
  border: 3px solid rgba(255, 102, 0, 0.7882352941);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.main__rate-package h4 {
  text-align: center;
  color: #ff6600;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}
.main__rate-package p {
  line-height: 16px;
  margin-bottom: 10px;
}
.main__rate-package-price {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}

.main__rate-toggle {
  display: none;
}

.main__rate-toggle ~ .main__rate-more {
  height: 0;
  margin: 0;
  transition: height 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.main__rate-toggle:checked ~ .main__rate-more {
  margin: 10px 20px 80px 20px;
  height: auto;
  transition: height 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.main__rate-toggle:checked + .main__rate-button::after {
  content: "СВЕРНУТЬ";
}

@media (min-width: 750px) {
  .main__rates {
    margin: 0 auto;
  }
  .main__rate-title-text {
    width: 60%;
  }
  .main__rate-text {
    line-height: 18px;
  }
  .main__rate-button {
    padding: 10px;
    height: 38px;
  }
  .main__rate-button::after {
    font-size: 16px;
  }
}
@media (min-width: 900px) {
  .main__rate-title-text {
    margin-bottom: 15px;
    width: 50%;
  }
  .main__rate-text {
    padding: 10px 60px;
  }
  .main__rate-text p {
    margin-bottom: 10px;
  }
  .main__rate-price {
    padding: 0 0 20px 60px;
  }
  .main__rate-button {
    right: 60px;
  }
  .main__rate-toggle:checked ~ .main__rate-more {
    margin: 10px 60px 80px 60px;
  }
}
.main__additional-channels {
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
}

.main__additional-channel {
  max-width: 400px;
  margin: 0 10px 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.main__additional-channel-title {
  color: #ff6600;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.main__additional-channel-text {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: justify;
  flex: 1 1 auto;
}
.main__additional-channel-link {
  display: block;
  margin-left: auto;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
}

.main__reviews-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.main__review {
  max-width: 500px;
  padding: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "img rate" "img date" "person person" "title title" "text text";
}
.main__review-img {
  grid-area: img;
  height: 100px;
  margin-bottom: 10px;
}
.main__review-img img {
  height: 100%;
  border-radius: 10px;
}
.main__review-date {
  grid-area: date;
}
.main__review-rate {
  grid-area: rate;
  font-weight: 550;
  color: rgb(85, 85, 85);
}
.main__review-person {
  grid-area: person;
  line-height: 18px;
  margin-bottom: 10px;
}
.main__review-title {
  grid-area: title;
  font-size: 16px;
  font-weight: 550;
  color: rgb(85, 85, 85);
  margin-bottom: 10px;
}
.main__review-text {
  grid-area: text;
  text-align: justify;
  line-height: 16px;
}
.main__review-button {
  margin: 0 auto;
  max-width: 500px;
}
.main__review-button a {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 750px) {
  .main__review {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "img date rate" "img person person" "title title title" "text text text";
  }
  .main__review-img {
    margin-bottom: 20px;
  }
  .main__review-person {
    margin-bottom: 0px;
  }
}
.main__cooperating {
  margin-bottom: 40px;
}
.main__cooperating-title {
  font-weight: 400;
  color: rgb(85, 85, 85);
  font-size: 16px;
  text-align: center;
}
.main__cooperating-title span {
  letter-spacing: -1px;
}
.main__cooperating-image img {
  width: 100%;
}
.main__cooperating-info {
  color: rgb(85, 85, 85);
  font-size: 10px;
}

@media (min-width: 750px) {
  .main__cooperating-title {
    font-size: 20px;
  }
  .main__cooperating-info {
    font-size: 12px;
  }
}
@media (min-width: 900px) {
  .main__cooperating-title {
    font-size: 24px;
  }
  .main__cooperating-info {
    font-size: 14px;
  }
}
.footer {
  border-top: 2px solid #ff6600;
  width: 100%;
  padding: 20px 0 60px;
  background-color: #f2f2f2;
}
.footer hr {
  margin: 10px 10px 10px 0;
  background-color: rgb(85, 85, 85);
}
.footer__buttons {
  display: flex;
}
.footer__columns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.footer__logo {
  position: relative;
  margin-bottom: 25px;
}
.footer__logo a {
  padding-bottom: 30px;
  background-position: 50% 33px;
}
.footer__logo img {
  height: 30px;
}
.footer__logo p {
  color: rgb(85, 85, 85);
  font-size: 14px;
  bottom: -8px;
}
.footer__button {
  margin: 0 0 10px 30px;
  display: block;
  text-align: center;
  line-height: 32px;
  text-transform: uppercase;
  color: #f2f2f2;
}
.footer__title {
  font-weight: 600;
  color: rgb(85, 85, 85);
  margin-bottom: 10px;
}
.footer__links a, .footer__agreement a {
  display: block;
  color: rgb(85, 85, 85);
  padding-bottom: 15px;
  background-position: 50% 20px;
}
.footer__social-networks {
  display: flex;
}
.footer__social-networks li {
  margin-right: 10px;
}

@media (max-width: 900px) {
  .footer__buttons {
    display: block;
  }
  .footer__button {
    margin-bottom: 10px;
    line-height: 18px;
  }
  .footer__logo img {
    height: 20px;
  }
  .footer__logo p {
    bottom: 25px;
  }
}
.contacts {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 600px;
  margin: 0 auto;
  z-index: 4;
  background: rgba(85, 85, 85, 0.5058823529);
  border-radius: 20px 0;
}
.contacts img {
  width: 30px;
}
.contacts a {
  display: block;
  padding: 5px;
}
.contacts__phone span {
  color: #f2f2f2;
  margin: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}
.contacts__support {
  position: relative;
}
.contacts__support-message {
  position: absolute;
  right: -6px;
  top: -4px;
  height: 20px;
  width: 20px;
  background-color: rgba(255, 102, 0, 0.7882352941);
  border-radius: 50%;
  line-height: 20px;
}