.footer {
   border-top: 2px solid $orange;
   width: 100%;
   padding: 20px 0 60px;
   background-color: $light-gray;
   hr {
      margin: 10px 10px 10px 0;
      background-color: $gray;
   }
   &__buttons {
      display: flex;
   }
   &__columns {
      display: flex;
      justify-content: space-around;
      margin-bottom: 30px;
   }
   &__logo {
      position: relative;
      margin-bottom: 25px;
      a {
         padding-bottom: 30px;
         background-position: 50% 33px;
      }
      img {
         height: 30px;
      }
      p {
         color: $gray;
         font-size: 14px;
         bottom: -8px;
      }
   }
   &__button {
      margin: 0 0 10px 30px;
      display: block;
      text-align: center;
      line-height: 32px;
      text-transform: uppercase;
      color: $light-gray;
   }
   &__title {
      font-weight: 600;
      color: $gray;
      margin-bottom: 10px;
   }
   &__links, &__agreement {
      a {
         display: block;
         color: $gray;
         padding-bottom: 15px;
         background-position: 50% 20px;
      }
   }
   &__social-networks {
      display: flex;
      //justify-content: space-around;
      li {
         margin-right: 10px;
      }
   }
}

@media (max-width: 900px) {
   .footer {
      &__buttons {
         display: block;
      }
      &__button {
         margin-bottom: 10px;
         line-height: 18px;
      }
      &__logo {
         img {
            height: 20px;
         }
         p {
            bottom: 25px;
         }
      }
   }
}