.main__title {
   margin-top: 20px;
   //height: 100px;
   background: url('/images/802_original.png') no-repeat center center;
   display: grid;
   grid-template: 100px / calc(58% - 5px) calc(42% - 5px);
   gap: 10px;
   font-weight: 700;
   line-height: 30px;
   &-title {
      margin: auto;
      font-size: 30px;
      color: #fff;
   }
   &-text {
      text-align: center;
      margin: auto;
      font-size: 20px;

   }
}