.main__cooperating {
   margin-bottom: 40px;
   &-title {
      font-weight: 400;
      color: $gray;
      font-size: 24px;
      text-align: center;
      span {
         letter-spacing: -1px;
      }
   }
   &-image {
      img {
         width: 100%;
      }
   }
   &-info {
      color: $gray;
   }
}