.main__reviews {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 0 -20px;
}
.main__review {
   max-width: 500px;
   padding: 20px;
   //margin-bottom: 20px;
   margin: 0 20px 20px;
   &-top {
      display: flex;
      margin-bottom: 20px;
   }
   &-img {
      height: 100px;
      img {
         height: 100%;
         border-radius: 10px;
      }
   }
   &-rigth {
      margin-left: 20px;
   }
   &-double-column {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
   }
   &-rate {
      font-weight: 550;
      color: $gray;
   }
   &-person {
      line-height: 18px;
   }
   &-title {
      font-size: 16px;
      font-weight: 550;
      color: $gray;
      margin-bottom: 10px;
   }
   &-text {
      text-align: justify;
      line-height: 16px;
   }
   &-button {
      //width: 100%;
      width: 500px;
      margin: 0 20px 20px;
      a {
         display: block;
         text-align: center;
         text-transform: uppercase;
      }
   }
}