.main__about-company {
   background: url('/images/top-view-person-writing-on-laptop-with-copy-space.jpg') 0 / cover no-repeat $light-gray;
   border-radius: 10px;
   margin: 80px -15px 30px;
   display: flex;
   flex-direction: column;
   padding: 20px;
   overflow: hidden;

   &-title {
      z-index: 2;
      font-size: 24px;
      font-weight: 700;
      line-height: 22px;
      margin-bottom: 15px;
   }
   
   &-text {
      z-index: 2;
      text-align: justify;
      font-size: 18px;
      line-height: 20px;
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      p {
         margin-bottom: 10px;
      }
   }

   &-attribution {
      z-index: 2;
      position: absolute;
      bottom: 10px;
      left: 20px;
      font-size: 10px;
      color: $gray;
   }
}
@media (min-width: 750px) {
   .main__about-company {
      margin: 80px 0 60px;
      padding: 30px;
      &-title {
         font-size: 30px;
         line-height: 28px;
         margin-bottom: 20px;
      }
      &-text {
         font-size: 22px;
         line-height: 24px;
      }
      &-attribution {
         left: 30px;
         bottom: 15px;
      }
   }
}
@media (min-width: 900px) {
   .main__about-company {
      display: grid;
      grid-template: auto 1fr / 1fr 1fr;
      gap: 30px;
      &-title {
         font-size: 50px;
         line-height: 46px;
         margin-bottom: 30px;
      }
      &-text {
         font-size: 26px;
         line-height: 30px;
      }
   }
}
