$light-gray: #f2f2f2;
$gray: rgb(85, 85, 85);
$gray_2: #7c7c7c;
$gray-50: #55555581;
$blue: rgb(8, 126, 185);
$light-blue: rgb(33, 148, 206);
$l-yellow: #FFC107;
$orange: #ff6600;
$orange-75: #ff6600c9;
$orange-25: #ff660046;
$l-yellow-75: #ffc107b4;
$l-red: #F20000;